<div class="container">
  <h3>Mastheads</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <% @mastheads.each do |masthead| %>
      <tr>
        <td><%= link_to masthead.name, masthead %></td>
        <td><%= link_to "Edit", edit_masthead_path(masthead) %> /
          <%= link_to "Delete", masthead, method: :delete, confirm: "Are you sure?" %> /
          <%= link_to "Preview", preview_masthead_path(masthead) %></td>
      <tr>
    <% end %>
  </table>

  <%= link_to 'New', new_masthead_path %>
</div>
