<div class="grid grid24">
  <div class="row">
    <div class="col">
      <ul class="action-menu">
        <li>
          <%= link_to "New Print", edition_prints_path, method: 'post' %>
        </li>
      </ul>
      <table class="table">
        <thead>
          <tr>
            <th>Printed At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% @prints.each do |print| %>
          <tr>
            <td><%= link_to format_date_and_time(print.created_at), print_path(print) %></td>
            <td>
              <%= link_to "Download", "" %>
              <%= link_to "Attach Signature", "" %>
              <%= link_to "Publish", "" %></td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
