<% wrap_with template_name -%>

<% @pages.each do |page| %>
  <%= render "page", page: page, grid_composition: page.grid_composition %>
<% end -%>

<% if composing? %>
<div class="row">
  <div class="col span24">
    <input class="add-page-btn" type="button" value="Add Page"></input>
  </div>
</div>
<% end -%>

<% if composing? %>
  <% content_for :composer_variables do %>
    <script type="text/javascript" charset="utf-8">
      var composer = {
        editionID: "<%= @edition.id %>",
        sectionID: "<%= @section.id %>"
      }
    </script>
  <% end %>
  <% content_for :toolbar do %>
    <%= render 'toolbar' %>
    <div class="composer-modal add-content-region hidden">
      <div class="composer-modal-pane">
        <a href="" class="pull-right composer-modal-dismiss">Close</a>
        <h3>Add Content Region</h3>
        <%= render 'content_regions/form', content_region: ContentRegion.new %>
      </div>
    </div>
    <div class="composer-modal add-content-item hidden">
      <div class="composer-modal-pane">
        <a href="" class="pull-right composer-modal-dismiss">Close</a>
        <h3>Add Content</h3>
        <%= render 'content_items/form', content_item: ContentItem.new %>
      </div>
    </div>
  <% end -%>
<% end -%>
