<div class="grid grid24">
  <div class="row">
    <div class="col">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Volume</th>
            <th>Publication Date</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <% @editions.each do |edition| %>
          <tr>
            <td><%= link_to edition.name, compose_edition_path(edition) %></td>
            <td><%= edition.page_title %></td>
            <td><%= edition.volume_label %></td>
            <td><%= edition.publish_date.try(:strftime, "%D") %></td>
            <td><%= edition.updated_at.strftime("%D") %></td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
