<%= javascript_include_tag 'entries' %>
<%= stylesheet_link_tag 'entries' %>

<div class="container">
  <%= link_to "← Previous Day", options_url("/", days_ago: @options[:days_ago].to_i + 1 ) %>
  &nbsp;
  <%= link_to "Next Day →", options_url("/", days_ago: @options[:days_ago].to_i - 1 ) %>
  &nbsp;
  <a href="images/">Today</a>
  <% @entries.each do |note| %>
    <div class="entry entry-list">
      <h4>
        <a href="entries/<%= note[:path] %>"><%= note[:formatted_date_time] %></a>
        <a href="/entries/edit/<%= note.path %>" class="edit">edit</a>
      </h4>
      <div class="entry-body">
        <%= raw(note[:html]) %>
      </div>
      <p><em><%= time_ago_in_words(note[:created_at]) %> ago</em></p>
    </div>
  <% end %>
</div>
<br><br>
