<%= javascript_include_tag 'entries' %>
<%= stylesheet_link_tag 'entries' %>

<div class="container entries-list">
  <div class="row">
    <div class="col-md-9">
      <%= link_to "← Previous Day", options_url("/", days_ago: @options[:days_ago].to_i + 1 ) %>
      &nbsp;
      <%= link_to "Next Day →", options_url("/", days_ago: @options[:days_ago].to_i - 1 ) %>
      &nbsp;
      <%= link_to "Today", entries_url %>
      <% @entries.each do |note| %>
        <div class="entry entry-list">
          <h4>
            <a href="<%= note[:path] %>"><%= note[:title] || note[:formatted_date_time] %></a>
            <a href="<%= note.path %>/edit" class="edit">edit</a>
          </h4>
          <div class="entry-body">
            <%= raw(note[:html]) %>
          </div>
          <p>
            <%= time_ago_in_words(note[:created_at]) %> ago
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= render 'topics' %>
    </div>
  </div>
</div>
<br><br>
