<div class="container entries-log">
  <h4>
  <a href="<%= @entry[:path] %>"><%= @entry[:title] || @entry[:formatted_date_time] %></a></h4>

  <% @log_entries.each do |log_entry| %>
    <div class="entries-log-entry">
      <h5><%= log_entry[:author] %> <%= log_entry[:date].strftime("%D") %> (<%= time_ago_in_words(log_entry[:date]) %>)</h5>
      <pre><%= log_entry[:diff].chomp.html_safe %></pre>
    </div>
  <% end %>
<div>
