<div class="container">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'entries' %>
  <div class="entry">
    <h4>
      <%= @entry[:formatted_date_time] %>
      <a href="/entries/edit/<%= @entry[:path] %>" class="edit">edit</a>
    </h4>
    <%= raw(@entry[:html]) %>
    <p>
      <em><%= time_ago_in_words(@entry[:created_at]) %> ago</em>
    </p>
    <p><%= @entry.tags %></p>
  </div>
</div>
