<!DOCTYPE html>
<html class="no-js">
<head>
  <title>NEWSTIME</title>
  <%= stylesheet_link_tag("composer") %>
  <%= stylesheet_link_tag "stylesheets/application" %>
</head>
<body ng-app="app">

  <%= render 'navbar' %>
  <%= render 'flash' %>
    Content
  <%= javascript_include_tag "javascripts/application" %>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
  <title>Press</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
