<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application" %>
</head>
<body ng-app="app">
  <div class="page" id="cover" style="top: 0px;">
    <div class="grid grid24">
      <%= render 'section_nav' %>
      <%= render 'mastheads/main' %>
      <%= yield %>
    </div>
  </div>
  <%#= render 'grid_overlay' %>
  <%= javascript_include_tag "application" %>
</body>
</html>
