<div class="container">
  <a href="attachment/?days_ago=<%= params['days_ago'].to_i + 1 %>">← Previous Day</a>
  &nbsp;
  <a href="attachments/?days_ago=<%= params['days_ago'].to_i - 1 %>">Next Day →</a>
  &nbsp;
  <a href="attachments/">Today</a>
  <br>

  <table class="table">
    <h4>
      <%= @formatted_date %>
    </h4>
    <tr>
      <td>
        <% @attachments.each do |attachment| %>
          <a href="<%= attachment.path %>"><%= attachment.path_ext %></a>
        <% end %>
      </td>
    </tr>
  <table>
</div>
