<!DOCTYPE html>
<html class="no-js">
<head>
<title><%= title %></title>
  <%= composer_stylesheet if composing? -%>
  <%= stylesheet_link_tag "stylesheets/application", media: "all" %>
  <meta charset="utf-8">
  <!-- <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no"> -->

  <color pink="default"
         lightpink="default"
         purplepink="purple + pink"
         blue="default">

  <style id="edition-colors">
    body {
      background-color: <%= resolve_color(edition.page_color) %>;
      color: <%= resolve_color(edition.ink_color) %>;
    }

    hr.divider {
      border-color: <%= resolve_color(edition.ink_color) %>;
    }
    .masthead-foot {
      border-top-color: <%= resolve_color(edition.ink_color) %>;
      border-bottom-color: <%= resolve_color(edition.ink_color) %>;
    }

    a {
      color: <%= resolve_color(edition.links_color) %>;
    }

    .edit-text-area-window textarea {
      color: <%= resolve_color(edition.ink_color) %>;
      background-color: <%= resolve_color(edition.page_color) %>;
    }
  </style>
</head>
<body ng-app="app">
  <div class="page broadsheet" id="cover" style="top: 0px;">
    <div class="grid grid24" <%= "pages" if composing? %>>
      <%= yield %>
    </div>
  </div>

  <%#= render 'grid_overlay' %>
  <%= composer_javascript if composing? -%>
  <%= javascript_include_tag "javascripts/application" %>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</body>
</html>
