<!DOCTYPE html>
<html class="no-js">
<head>
<title><%= title %></title>
  <%= composer_stylesheet if composing? -%>
  <%= stylesheet_link_tag "stylesheets/application", media: "all" %>
  <meta charset="utf-8">
</head>
<body ng-app="app">
  <div class="page broadsheet" id="cover" style="top: 0px;">
    <div class="grid grid24" <%= "pages" if composing? %>>
      <%= yield %>
    </div>
  </div>

  <!-- Mini Mast -->
  <div slidein-nav="true" class="ng-isolate-scope ng-scope slidein-nav" style="display: none; top: -48px;" <%= 'offset="25"' if composing? %>>
    <div class="mini-mast">
      <h1 class="sfrecord">
        <a href="#"><%= render 'logo' -%></a>
      </h1>
      <div class="buy-or-subscribe">
        <%= link_to "Buy or Subscribe", edition.store_link %>
      </div>
    </div>
  </div>
  <%#= render 'grid_overlay' %>
  <%= composer_javascript if composing? -%>
  <%= javascript_include_tag "javascripts/application" %>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</body>
</html>
