<div class="grid grid24">
  <div class="row">
    <div class="col">
      <ul class="action-menu pull-right">
        <li>
          <%= link_to "New Story", new_story_path %>
        </li>
      </ul>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date Modified</th>
            <th>Word Count</th>
          </tr>
        </thead>
        <% @stories.each do |story| %>
          <tr>
            <td><%= link_to story.title, story %></td>
            <td><%= story.author %></td>
            <td><%= format_date(story.updated_at) %></td>
            <td><%= story.word_count %></td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
