<ul class="nav navbar-nav navbar-right">
  <%= dropdown_menu "Blakefrost <b class=\"caret\"></b>" do %>
    <%= navbar_li "Profile", "/profile" %>
    <%= navbar_li "Settings", "/settings" %>
    <%= navbar_li "Change Password", "/change_password" %>
    <li class="divider"></li>
    <%= navbar_li "Sign Out", "/sign_out" %>
  <% end %>
</ul>
