
<div class="compose-toolbar">
  <div class="container">
    <div class="dreamtool-logo">
      <a href="/"><%= render 'dreamtool_logo' %></a>
    </div>
    <nav>
      <ul>
        <!-- <%= navbar_li "Editions", editions_path, active_path: editions_path  %>
        <%= navbar_li "Stories", stories_path, active_path: stories_path  %>
        <%= navbar_li "Photos", photos_path, active_path: photos_path  %>
        <%= navbar_li "Videos", '/videos', active_path: '/videos'  %> -->
      </ul>
      <ul class="pull-right">
        <li class="screenname"><a><%= screenname %></a></li>
        <li><a class="sign-out" title="Sign Out" href="/sign-out"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
