<!DOCTYPE html>
<html>
<head>
  <title>Press</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'flash' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-xs-4">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
